<!DOCTYPE html>

<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="preload" href="../../build/IWT.min.js" as="script"> -->
  <!--
    In alternativa a WebFontLoader è possibile caricare il font direttamente da Google
      <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,' rel='stylesheet' type='text/css' />
    o dal repository locale (src/fonts)
  -->
  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:300,400,600,700,400italic:latin']
      }
    };
    (function () {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include HTML5shim per Explorer 8 -->
  <script src="../../build/vendor/modernizr.js"></script>

  <link media="all" rel="stylesheet" href="../../build/build.css">

  <script src="../../build/vendor/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <title>Servizi Area Vasta Metropoli Terra di Bari - egov.ba</title>
</head>

<body class="t-Pac">

  <!--<div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all" aria-hidden="true">
    <p class="u-color-white u-text-r-xs u-lineHeight-m u-padding-r-bottom">Questo sito utilizza cookie tecnici, analytics e di terze parti.
      <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.
      <br>
    </p>
    <p>
      <button class="Button Button-default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">Accetto</button>
      <a href="" class="u-text-r-xs u-color-teal-50">Privacy policy</a>
    </p>
  </div>-->



  <header class="Header Headroom--fixed js-Headroom u-hiddenPrint ">
    <div class="Header-banner ">
      <div class="Header-owner Headroom-hideme ">
        <a href="">
          <span>Regione Puglia</span>
        </a>
        <div class="Header-languages ">
          <a href="#languages" data-menu-trigger="languages" class="Header-language u-border-none u-zindex-max u-inlineBlock">
            <span class="u-hiddenVisually">lingua attiva:</span>
            <span class="">ITA</span>
            <!-- <span class="u-hidden u-md-inlineBlock u-lg-inlineBlock">Italiano</span> -->
            <span class="Icon Icon-expand u-padding-left-xs"></span>
          </a>
          <div id="languages" data-menu class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone">
            <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
            <ul>
              <li>
                <a href="#1" class="u-padding-r-all">
                  <span lang="en">English</span>
                </a>
              </li>
              <li>
                <a href="#1" class="u-padding-r-all">
                  <span lang="ar">عربي</span>
                </a>
              </li>
              <li>
                <a href="#2" class="u-padding-r-all">
                  <span lang="ch">中文网</span>
                </a>
              </li>
              <li>
                <a href="#3" class="u-padding-r-all">
                  <span lang="de">Deutsch</span>
                </a>
              </li>
              <li>
                <a href="#8" class="u-padding-r-all">
                  <span lang="es">Español</span>
                </a>
              </li>
              <li>
                <a href="#4" class="u-padding-r-all">
                  <span lang="fr">Français</span>
                </a>
              </li>
              <li>
                <a href="#5" class="u-padding-r-all">
                  <span lang="ja">日本語</span>
                </a>
              </li>
              <li>
                <a href="#6" class="u-padding-r-all">
                  <span lang="pt">Portuguese</span>
                </a>
              </li>
              <li>
                <a href="#7" class="u-padding-r-all">
                  <span lang="ru">НА РУССКОМ</span>
                </a>
              </li>
              <li>
                <a href="#10" class="u-padding-r-all">
                  <span lang="uk">УКРАЇНСЬКA</span>
                </a>
              </li>
              <li>
                <a href="#9" class="u-padding-r-all">
                  <span lang="tr">TÜRKÇE</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="Header-navbar ">
      <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter">
        <div class="Header-logo Grid-cell" aria-hidden="true">
          <a href="" tabindex="-1">
            <img src="log.png" style="height:100px; width:250px; min-height:50px; min-width:120px ">
          </a>
        </div>

        <div class="Header-title Grid-cell">
          <h1 class="Header-titleLink" style="margin-left:220px" style="font-size:10vw;">
          </h1>
        </div>

        <div class="Header-searchTrigger Grid-cell">
          <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-search " title="attiva il form di ricerca"
            aria-label="attiva il form di ricerca" aria-hidden="false">
          </button>
          <button aria-controls="header-search" class="js-Header-search-trigger Icon Icon-close u-hidden " title="disattiva il form di ricerca"
            aria-label="disattiva il form di ricerca" aria-hidden="true">
          </button>
        </div>


        <div class="Header-utils Grid-cell">
          <div class="Header-social Headroom-hideme">
            <p>Seguici su</p>
            <ul class="Header-socialIcons">
              <li>
                <a href="" title="Facebook">
                  <span class="Icon-facebook"></span>
                  <span class="u-hiddenVisually">Facebook</span>
                </a>
              </li>
              <li>
                <a href="" title="Twitter">
                  <span class="Icon-twitter"></span>
                  <span class="u-hiddenVisually">Twitter</span>
                </a>
              </li>
              <li>
                <a href="" title="Youtube">
                  <span class="Icon-youtube"></span>
                  <span class="u-hiddenVisually">Youtube</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="Header-search" id="header-search">
            <form class="Form">
              <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s" role="search">
                <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderRadius-s "
                  required id="cerca">
                <label class="Form-label u-color-grey-50 u-text-r-xxs" for="cerca">Cerca nel sito</label>
                <button class="Grid-cell u-sizeFit Icon-search Icon--rotated u-color-grey-50 u-padding-all-s u-textWeight-700" title="Avvia la ricerca"
                  aria-label="Avvia la ricerca">
                </button>
              </div>
            </form>
          </div>


        </div>


        <div class="Header-toggle Grid-cell">
          <a class="Hamburger-toggleContainer js-fr-offcanvas-open u-nojsDisplayInlineBlock u-lg-hidden u-md-hidden" href="#menu" aria-controls="menu"
            aria-label="accedi al menu" title="accedi al menu">
            <span class="Hamburger-toggle" role="presentation"></span>
            <span class="Header-toggleText" role="presentation">Menu</span>
          </a>
        </div>

      </div>
    </div>
    <!-- Header-navbar -->

    <div class="Headroom-hideme u-textCenter u-hidden u-sm-hidden u-md-block u-lg-block" style: "float: left !important;">
      <nav class="Megamenu Megamenu--default js-megamenu u-background-50" data-rel=".Offcanvas .Treeview"></nav>
    </div>

  </header>

  <section class="Offcanvas Offcanvas--right Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone u-hiddenPrint"
    id="menu">
    <h2 class="u-hiddenVisually">Menu di navigazione</h2>
    <div class="Offcanvas-content u-background-white">
      <div class="Offcanvas-toggleContainer u-background-70 u-jsHidden">
        <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close"
          aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
          <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
        </a>
      </div>
      <nav>
        <ul class="Linklist Linklist--padded Treeview Treeview--default js-Treeview u-text-r-xs">
          <li>
            <a href="homepage.html">Homepage</a>
          </li>

          <li>
            <a href="lista-servizi.html">Servizi online</a>
          </li>

          <li>
            <a href="chi-siamo.html">Chi siamo?</a>
          </li>

          <li>

            <a href="#">

              <font size=+1>Profilo utente</font>

            </a>
          </li>
          <li>
            <a href="homepage.html">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>


  <div id="main" style="background-color:white;">


    <section style="background:url('image.jpg'); background-size:cover">


      <div class="Hero" style="border-bottom: 20px">


      </div>
    </section>

    <div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">

      <div class="Grid Grid--equalHeight Grid--withGutterM" id="servizi">

        <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
          <div class="u-sizeFull u-color-70 u-text-r-s">
            <h2 class="u-text-h2" style="color: rgb(129, 57, 44) !important">Sportello Anagrafe</h2>
            <h3 class="u-border-bottom-m" style="color: rgb(129, 57, 44) !important"></h3>
            <ul class="Linklist Prose u-text-r-xs">
              <li>
                <a href="" style="color: rgb(129, 57, 44) !important">Certificato cittadinanza</a>
              </li>
              <li>
                <a href="certificato-stato-famiglia.html" style="color: rgb(129, 57, 44) !important">Certificato stato famiglia</a>
              </li>
              <li>
                <a href="dichiarazione-cambio-residenza.html" style="color: rgb(129, 57, 44) !important">Dichiarazione cambio residenza/abitazione</a>
              </li>
              <li>
                <a href="" style="color: rgb(129, 57, 44) !important">Visura posizione elettorale</a>
              </li>
              <li>
                <a href="lista-servizi-anagraf.html" class="u-color-50 u-textClean" style="color: rgb(129, 57, 44) !important">
                  <b>
                    <font size=+1.7>Tutto su Servizi Sportello Anagrafe</font>
                  </b>
                  <span class="Icon Icon-chevron-right"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
          <div class="u-sizeFull u-color-compl-80 u-text-r-s">
            <h2 class="u-text-h2">Sportello Tributi</h2>
            <h3 class="u-border-bottom-m"></h3>
            <ul class="Linklist Prose">
              <li>
                <a href="">
                  <span class="u-text-r-xs u-color-compl-80">Calcolo IMU</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="u-text-r-xs u-color-compl-80">Dichiarazione TARI</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="u-text-r-xs u-color-compl-80">Richiesta rimborso IMU/TASI/ICI</span>
                </a>
              </li>
              <li>
                <a href="visura-tari.html">
                  <span class="u-text-r-xs u-color-compl-80">Visura avvisi bonari TARI</span>
                </a>
              </li>
              <li>
                <a href="lista-servizi-tributi.html" class="u-textClean ">
                  <span class="u-color-compl-80 u-text-p">
                    <b>
                      <font size=+1.7>Tutto su Servizi Sportello Tributi</font>
                    </b>
                    <span class="u-color-compl-80 Icon Icon-chevron-right"></span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="Grid-cell  u-sizeFull u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-margin-r-bottom">
          <div class="u-sizeFull u-color-70 u-text-r-s">

            <h2 class="u-text-h2" style="color: green !important">Servizi Particolari</h2>
            <h3 class="u-border-bottom-m" style="color: green !important"></h3>
            <ul class="Linklist Prose u-text-r-xs">
              <li>
                <a href="concorsi-e-selezioni-pubbliche.html" style="color: green !important">Concorsi e selezioni pubbliche</a>
              </li>
              <li>
                <a href="#" style="color: green !important">Bandi e appalti</a>
              </li>
              <li>
                <a href="#" style="color: green !important">Sistema informativo territoriale (SIT)</a>
              </li>
              <li>
                <a href="#" style="color: green !important">Sportello unico attività produttive (SUAP)</a>
              </li>
              <li>
                <a href="lista-servizi.html" class="u-color-50 u-textClean" style="color: green !important">
                  <b>
                    <font size=+1.7>Tutto su Servizi</font>
                  </b>
                  <span class="Icon Icon-chevron-right"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="Grid Grid--withGutter u-padding-r-top u-padding-r-bottom u-text-r-s">
        <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
          <div class="Entrypoint-item u-sizeFill u-background-compl-80" style="background-color:rgb(12, 89, 204) !important">
            <p>
              <a class="u-textClean u-text-h3 u-color-white" href="amministrazione-trasparente.html">Amministrazione trasparente</a>
            </p>
          </div>
        </div>
        <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
          <div class="Entrypoint-item u-background-compl-80" style="background-color:rgb(12, 89, 204) !important">
            <p>
              <a class="u-textClean u-text-h3 u-color-white" href="">Albo pretorio</a>
            </p>
          </div>
          <div class="Entrypoint-item u-background-compl-80" style="background-color:rgb(12, 89, 204) !important">
            <p>
              <a class="u-textClean u-text-h4 u-color-white" href="">Accesso civico</a>
            </p>
          </div>
        </div>
        <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
          <div class="Entrypoint-item u-sizeFill u-background-compl-80" style="background-color:rgb(12, 89, 204) !important">
            <p>
              <a class="u-textClean u-text-h3 u-color-white" href="">Ufficio Relazioni con il Pubblico</a>
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="u-background-white u-color-black u-text-xxl u-padding-r-top u-padding-r-bottom">
      <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter" id="utilita">
        <section class="u-padding-r-top u-padding-r-bottom">
          <h2 class="u-text-h3 u-layout-centerLeft">Utilità</h2>
          <ul class="Grid Grid">

            <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
              <a class="Leads-link u-color-black" href="http://opendata.comune.bari.it/">Open data</a>
            </li>

            <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
              <a class="Leads-link u-color-black" href="">Comunicati stampa</a>
            </li>

            <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
              <a class="Leads-link u-color-black" href="https://www.spid.gov.it/richiedi-spid">Modalità registrazione</a>
            </li>

            <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
              <a class="Leads-link u-color-black" href="assistenza.html">Assistenza</a>
            </li>

          </ul>


        </section>

      </div>
    </div>

    <div class=" u-background-compl-10 u-layout-centerContent u-padding-r-top">


      <section class="Hero" style="background:url('image2.jpg'); background-size:cover; height: 700px">
        <div id="news" class="Hero-content">
          <h2 class="u-text-h2 u-color-95">Comuni</h2>
          <p class="u-padding-r-bottom u-padding-r-top u-text-p u-margin-r-bottom">L'Area Vasta Metropoli di Bari è costituita da istituzionali locali, che sono impegnate ad erogare servizi a cittadini
            e imprese. I servizi online al cittadino sono attivi momentaneamente per i seguenti Comuni, il tuo comune aggiornerà
            i servizi digitali disponibili costantemente.</p>

          <div class="u-color-grey-30 ">

            <form class="Form Form--ultraLean">
              <div class="Grid">

                <div class="Form-field Grid-cell u-sizeFull u-sm-size6of12 u-md-size4of12 u-lg-size7of12 u-border-right-xxs u-border-top-xxs">
                  <label class="Form-label is-required u-hiddenVisually" for="provincia">Provincia</label>
                  <select class="Form-input u-color-grey-90 u-text-r-s u-padding-r-all" id="provincia" aria-required="true" required>
                    <option disabled selected>Provincia</option>
                    <option>Bari</option>
                    <option>Adelfia</option>
                    <option>Bitetto</option>
                    <option>Bitonto</option>
                    <option>Bitritto</option>
                    <option>Casamassima</option>
                    <option>Cassano delle Murge</option>
                    <option>Conversano</option>
                    <option>Gioia Del Colle</option>
                    <option>Giovinazzo</option>
                    <option>Modugno</option>
                    <option>Mola di Bari</option>
                    <option>Molfetta</option>
                    <option>Noicattaro</option>
                    <option>Palo del Colle</option>
                    <option>Polignano a Mare</option>
                    <option>Rutigliano</option>
                    <option>Ruvo di Puglia</option>
                    <option>Sammichele di Bari</option>
                    <option>Sannicandro di Bari</option>
                    <option>Toritto</option>
                    <option>Triggiano</option>
                    <option>Turi</option>
                    <option>Valenzano</option>


                  </select>
                </div>
                <button class="u-background-40 u-color-white u-padding-all-s u-text-r-m u-textNoWrap">Cerca Servizi</button>
              </div>

            </form>

          </div>



        </div>
      </section>

    </div>

    <div class="u-background-compl u-padding-all-xl u-layoutCenter u-hiddenPrint">
      <p class="u-textCenter u-margin-top-m u-margin-bottom-m">
        <a href="#" class="u-color-95 u-textClean u-text-h3">
          <span class="u-padding-r-right Icon Icon-comment">
          </span> Valuta questo sito
        </a>
      </p>
    </div>

    <div class="u-background-95 u-hiddenPrint">
      <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">

        <footer class="Footer u-background-95">

          <div class="u-cf">
            <img class="Footer-logo" src="log.png" style="height:100px; width:250px; min-height:50px; min-width:120px" alt="">
            <p class="Footer-siteName" style="color: #c6cace">
              Area Vasta Metropoli Terra di Bari
            </p>
          </div>



          <div class="Grid Grid--withGutter">

            <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
              <h3 class="Footer-subTitle">Recapiti</h3>
              <div class="Footer-subBlock">

          <address>
                  URL del Comune di Bari: http://www.comune.bari.it/
                  <br> Email: urp@comune.bari.it
                  <br> Tel: 080 5238335
                </address>
              </div>
            </div>

            <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
              <h3 class="Footer-subTitle">Assistenza Sito</h3>
              <div class="Footer-subBlock">

                <address>
                  URL Exprivia: http://www.exprivia.it/it/index.php
                  <br> Email: info@exprivia.it
                  <br> Tel: +39 0803382070
                </address>
              </div>
            </div>


            <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
              <h3 class="Footer-subTitle">Indirizzo PEC:</h3>
              <div class="Footer-subBlock">

                <p>
                  <a href="">indirizzo.pec@gov.it</a>
                </p>
              </div>
            </div>

            <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
              <h2 class="Footer-subTitle">Seguici su</h2>
              <div class="Footer-subBlock">
                <ul class="Footer-socialIcons">
                  <li>
                    <a href="">
                      <span class="Icon Icon-facebook"></span>
                      <span class="u-hiddenVisually">Facebook</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="Icon Icon-twitter"></span>
                      <span class="u-hiddenVisually">Twitter</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <span class="Icon Icon-youtube"></span>
                      <span class="u-hiddenVisually">Youtube</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </footer>

      </div>
    </div>

    <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo">
      <i class="ScrollTop-icon Icon-collapse" aria-hidden="true"></i>
      <span class="u-hiddenVisually">torna all'inizio del contenuto</span>
    </a>


  </div>


  <!--[if IE 8]>
  <script src="../../build/vendor/respond.min.js"></script>
  <script src="../../build/vendor/rem.min.js"></script>
  <script src="../../build/vendor/selectivizr.js"></script>
  <script src="../../build/vendor/slice.js"></script>
  <![endif]-->

  <!--[if lte IE 9]>
  <script src="../../build/vendor/polyfill.min.js"></script>
  <![endif]-->

  <!-- sostituire questo percorso con quello degli assets javascript nel proprio sito web:
    è il percorso, relativo alla webroot, della directory che contiene il file IWT.min.js e i file *.chunk.js -->
  <script>__PUBLIC_PATH__ = '/design-web-toolkit/build/'</script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <script src="../../build/IWT.min.js"></script>

</body>

</html>